<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  lang="ja"
>
  <!--xmlns:th～の記述-->
  <head>
    <meta charset="UTF-8" />
    <title>Milestone</title>
  </head>
  <body>
    <div layout:fragment="layoutContent" class="container">
      <div class="container-fluid mt-3">
        <div class="row">
          <div class="col-sm-8"><h2>[[${milestone.title}]]</h2></div>
          <div class="col-sm-4 text-end">
            <form
              th:action="@{/milestones/{id}(id=${milestone.id})}"
              method="post"
              onsubmit="return confirm('削除しますか？')"
            >
              <a
                th:if="${userHash.username == milestone.author}"
                th:href="@{/milestones/{id}/edit(id=${milestone.id})}"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                class="btn rounded-circle"
                title="Edit this milestone"
              >
                <i class="bi bi-pencil-fill"></i>
              </a>
              <a
                th:href="@{/milestones/create?duplicateId={id}(id=${milestone.id})}"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                class="btn rounded-circle"
                title="Copy this milestone"
              >
                <i class="bi bi-files"></i>
              </a>
              <input type="hidden" name="_method" value="DELETE" />
              <button
                th:if="${userHash.username} == ${milestone.author}"
                type="submit"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Delete this milestone"
                class="btn rounded-circle"
              >
                <i class="bi bi-trash"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <p>
        <span th:text="${milestone.group}"></span>
        <th:block
          class="insert"
          th:insert="components/status-tag :: status-tag(${milestone.status})"
        ></th:block>
        created by
        <a
          th:text="${milestone.author}"
          th:href="@{/milestones?author={author}(author=${milestone.author})}"
        ></a>
      </p>
      <p>
        <span
          th:if="${milestone.scheduleAt}"
          th:text="${#dates.format(milestone.scheduleAt, 'yyyy-MM-dd')}"
        >
          ここに開始日が入る
        </span>
        -
        <span
          th:if="${milestone.deadlineAt}"
          th:text="${#dates.format(milestone.deadlineAt, 'yyyy-MM-dd')}"
        >
          ここに期限日が入る
        </span>
      </p>
      <p th:utext="${milestone.description}">ここに説明が入る</p>
      <div class="text-center">
        <a href="./milestones/list.html" th:href="@{/milestones}">back</a>
      </div>
    </div>
  </body>
</html>
