<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  lang="ja"
>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/trix@2.0.0/dist/trix.css"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"
    ></script>
    <meta charset="UTF-8" />
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script> -->
    <!-- <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script> -->

    <title>[[${id}?'Edit':'Add']] Milestone</title>
  </head>
  <body>
    <div layout:fragment="layoutContent" class="container">
      <h1>[[${id}?'Edit':'Add']] Milestone</h1>

      <form
        th:action="@{/milestones/{id}(id=${id}?:'create')}"
        th:method="${id}?'put':'post'"
        th:object="${milestoneForm}"
      >
        <div>
          <label for="titleInput" class="form-label">Title: </label>
          <input
            id="titleInput"
            type="text"
            th:field="*{title}"
            class="form-control"
            th:value="${title}?:''"
          />
          <p
            th:if="${#fields.hasErrors('title')}"
            th:errors="*{title}"
            class="text-danger"
          >
            (error)
          </p>
        </div>
        <div th:unless="${id}">
          <label for="groupInput" class="form-label">Group: </label>
          <select
            id="groupInput"
            type="text"
            th:field="*{groupId}"
            class="form-select"
          >
            <th:block th:each="userGroups : ${userHash.groups}">
              <option
                th:if="${userGroups.role != viewer}"
                th:text="${userGroups.name}"
                th:value="${userGroups.id}"
                th:selected="${group} ? ${group == userGroups}"
              ></option
            ></th:block>
          </select>
        </div>
        <div class="mt-3">
          <label for="descriptionInput" class="form-label">Description: </label>
          <input
            type="hidden"
            id="descriptionInput"
            name="Description"
            th:field="*{description}"
            class="form-control"
            th:value="${description}?: ''"
          />

          <!-- TODO trix editorのダークモード対応 -->
          <trix-editor input="descriptionInput"></trix-editor>
          <p
            th:if="${#fields.hasErrors('description')}"
            th:errors="*{description}"
            class="text-danger"
          >
            (error)
          </p>
        </div>
        <div class="mt-3">
          <label for="statusSelect">status:</label>
          <select
            name="status"
            id="statusSelect"
            th:field="*{status}"
            class="form-select"
          >
            <option value="todo" th:selected="${status} ? ${status == 'todo'}">
              ToDo
            </option>
            <option
              value="in-progress"
              th:selected="${status} ? ${status == 'in-progress'}"
            >
              In Progress
            </option>
            <option value="done" th:selected="${status} ? ${status == 'done'}">
              Done
            </option>
          </select>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label for="scheduleAtInput" class="form-label"
              >Schedule at:
            </label>
            <input
              type="date"
              name="scheduleAt"
              id="scheduleAtInput"
              th:value="${scheduleAt}?:${#dates.format(new java.util.Date() , 'yyyy-MM-dd')}"
              class="form-control"
            />
            <p
              th:if="${#fields.hasErrors('scheduleAt')}"
              th:errors="*{scheduleAt}"
              class="text-danger"
            >
              (error)
            </p>
          </div>
          <div class="col">
            <label for="deadlineAtInput" class="form-label"
              >Deadline at:
            </label>
            <input
              type="date"
              name="deadlineAt"
              id="deadlineAtInput"
              th:value="${deadlineAt}?:${#dates.format(#calendars.createNow(), 'yyyy-MM-dd')}"
              class="form-control"
            />
            <p
              th:if="${#fields.hasErrors('deadlineAt')}"
              th:errors="*{deadlineAt}"
              class="text-danger"
            >
              (error)
            </p>
          </div>
        </div>
        <div class="text-center center-block mt-3">
          <a
            href="./milestones/list.html"
            th:href="${id}?@{/milestones/{id}(id=${id})}:@{/milestones}"
            class="mx-2"
            >cancel</a
          >
          <!-- id="send" -->
          <button type="submit" class="btn btn-primary mx-2">
            [[${id}?'Update':'Create']]
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
