<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  lang="ja"
>
  <!--xmlns:th～の記述-->
  <head>
    <meta charset="UTF-8" />
    <title>Milestone | milestone app</title>
  </head>
  <body>
    <div layout:fragment="layoutContent" class="container">
      <h1>Milestone List</h1>
      <a
        href="./milestones/createForm.html"
        th:href="@{/milestones/createForm}"
        class="btn btn-primary"
        ><i class="bi bi-plus-square"></i> 新しく作成</a
      >
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>title</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${milestoneList}">
            <td th:text="${item.getId}"></td>
            <td>
              <a
                th:text="${item.getTitle}"
                th:href="@{/milestones/{id}(id=${item.getId})}"
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
