<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  lang="ja"
>
  <!--xmlns:th～の記述-->
  <head>
    <meta charset="UTF-8" />
    <title>Milestone</title>
  </head>
  <body>
    <div layout:fragment="layoutContent" class="container">
      <h1>Milestone List</h1>
      <a th:href="@{/milestones/create}" class="btn btn-primary"
        ><i class="bi bi-plus-square"></i> Add</a
      >
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>
              title<a
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="detail to click title"
              >
                <i class="bi bi-question-circle"></i>
              </a>
            </th>
            <th>status</th>
            <th>author</th>
            <th>schedule</th>
            <th>deadline</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="milestone : ${milestoneList}">
            <td th:text="${milestone.id}"></td>
            <td>
              <a
                th:text="${milestone.title}"
                th:href="@{/milestones/{id}(id=${milestone.id})}"
              ></a>
            </td>
            <td>
              <th:block>
                <th:block th:if="${milestone.status == 'todo'}">
                  <span class="badge bg-secondary">ToDo</span>
                </th:block>
                <th:block th:if="${milestone.status == 'in-progress'}">
                  <span class="badge bg-primary">Progress</span>
                </th:block>
                <th:block th:if="${milestone.status == 'done'}">
                  <span class="badge bg-info"
                    ><i class="bi bi-check"></i> Done</span
                  >
                </th:block>
              </th:block>
            </td>
            <td th:text="${milestone.author}"></td>
            <td th:text="${milestone.scheduleAt}"></td>
            <td th:text="${milestone.deadlineAt}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
