<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  lang="ja"
>
  <!--xmlns:th～の記述-->
  <head>
    <meta charset="UTF-8" />
    <title>Milestone | milestone app</title>
  </head>
  <body>
    <div layout:fragment="layoutContent" class="container">
      <h1>Milestone List</h1>
      <p>ユーザー名 :<span th:text="${username}"></span></p>
      <a
        href="./milestones/createForm.html"
        th:href="@{/milestones/createForm}"
        class="btn btn-primary"
        ><i class="bi bi-plus-square"></i> 新しく作成</a
      >
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>title</th>
            <th>status</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${milestoneList}">
            <td th:text="${item.id}"></td>
            <td>
              <a
                th:text="${item.title}"
                th:href="@{/milestones/{id}(id=${item.id})}"
              ></a>
            </td>
            <td>
              <th:block>
                <th:block th:if="${item.status == 'todo'}">
                  <span class="badge bg-secondary">未着手</span>
                </th:block>
                <th:block th:if="${item.status == 'in-progress'}">
                  <span class="badge bg-primary">実行中</span>
                </th:block>
                <th:block th:if="${item.status == 'done'}">
                  <span class="badge bg-info">完了</span>
                </th:block>
              </th:block>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
