<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  lang="ja"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Debug</title>
  </head>
  <body>
    <div class="container" layout:fragment="layoutContent">
      <div>
        <div class="mt-3">
          <input
            type="text"
            id="title"
            placeholder="Message"
            value="sample notification"
          />
          <select name="type" id="type">
            <option value="create">create</option>
            <option value="edit">edit</option>
            <option value="delete">delete</option>
          </select>
          <input
            type="text"
            id="to"
            placeholder="To"
            th:value="${userHash.username}"
          />
        </div>
        <div class="mt-3">
          <button
            class="btn btn-primary"
            id="sendMessage"
            onclick="sendMessage();"
          >
            Send
          </button>
          <button
            class="btn btn-primary"
            id="sendPrivateMessage"
            onclick="sendPrivateMessage();"
          >
            Send Private
          </button>
        </div>
        <br />
        <br />
        <br />
      </div>
    </div>
  </body>
</html>
