<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  lang="ja"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Page</title>

    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.3/firebase-app.js";
      import {
        getMessaging,
        getToken,
        onMessage,
      } from "https://www.gstatic.com/firebasejs/9.9.3/firebase-messaging.js";
      const firebaseConfig = {
        apiKey: "AIzaSyDlD6YR1vU8ELZ6KP42ok8OvZoka9XjkA0",
        authDomain: "milestone-app-842d2.firebaseapp.com",
        projectId: "milestone-app-842d2",
        storageBucket: "milestone-app-842d2.appspot.com",
        messagingSenderId: "323939545121",
        appId: "1:323939545121:web:53c46d8ae3d6bed108f360",
      };

      document.addEventListener("DOMContentLoaded", function () {
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const messaging = getMessaging(app);
        Notification.requestPermission().then((permission) => {
          if (permission === "granted") {
            console.log("Notification permission granted.");
            onMessage(messaging, (payload) => {
              console.log("Message received. ", payload);
            });
            getToken(messaging, {
              vapidKey:
                "BNoLXT8Er-kHDNZH5GyHYoTdY0_65TR4kWhYRQur2ZKBw4R1GyvmabYoCzukkziD8Z2xH4AZZJFDa91f97CgyyI",
            })
              .then((currentToken) => {
                if (currentToken) {
                  document.getElementById("token").value = currentToken;
                }
              })
              .catch((e) => console.log(e));
          } else {
            // 通知を拒否した場合
            console.log("Unable to get permission to notify.");
          }
        });
      });
    </script>

    <style>
      .feature-icon {
        width: 4rem;
        height: 4rem;
        border-radius: 0.75rem;
      }

      .icon-square {
        width: 3rem;
        height: 3rem;
        border-radius: 0.75rem;
      }

      .text-shadow-1 {
        text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
      }
      .text-shadow-2 {
        text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
      }
      .text-shadow-3 {
        text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
      }

      .card-cover {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }

      .feature-icon-small {
        width: 3rem;
        height: 3rem;
      }
    </style>
  </head>
  <body>
    <div class="container" layout:fragment="layoutContent">
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="bell-fill" viewBox="0 0 16 16">
          <path
            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
          />
        </symbol>
        <symbol id="bi-signpost-split-fill" viewBox="0 0 16 16">
          <path
            d="M7 16h2V6h5a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.8 2.4A1 1 0 0 0 14 2H9v-.586a1 1 0 0 0-2 0V7H2a1 1 0 0 0-.8.4L.225 8.7a.5.5 0 0 0 0 .6l.975 1.3a1 1 0 0 0 .8.4h5v5z"
          />
        </symbol>
        <symbol id="bi-bar-chart-steps" viewBox="0 0 16 16">
          <path
            d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0zM2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"
          />
        </symbol>
        <symbol id="bi-moon-fill" viewBox="0 0 16 16">
          <path
            d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"
          />
        </symbol>
        <symbol id="bi-people-fill" viewBox="0 0 16 16">
          <path
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"
          />
        </symbol>
        <symbol id="bi-list-check" viewBox="0 0 16 16">
          <path
            fill-rule="evenodd"
            d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"
          />
        </symbol>
      </svg>

      <!-- スクリーンショット/デモセクション -->
      <section class="px-4 pt-5 mb-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Milestone APP</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">マイルストーンを管理するためのアプリです。</p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh">
          <div class="container px-5">
            <img
              th:src="@{/images/lp-main.png}"
              class="img-fluid border rounded-3 shadow-lg mb-4"
              alt="Example image"
              width="900"
              height="500"
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <!-- 機能一覧の項目、以下のセクションとどっちがいいか検討 -->

      <section class="container px-4 py-5 border-bottom">
        <h2 class="pb-2 border-bottom">機能一覧</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
            <div
              class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
            >
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#bi-signpost-split-fill" />
              </svg>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">マイルストーン管理</h3>
              <p>
                作成・編集・削除など基本的なことができるほか、フィルタや検索、並び替えによって効率的にプロジェクトを進めることができます。
              </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div
              class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
            >
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#bi-bar-chart-steps" />
              </svg>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">ガントチャート表示</h3>
              <p>
                視覚的にタスクの期限や進捗状況を一目で把握し、プロジェクトのスケジュールを効果的に管理できます。視覚化による洞察力で、プロジェクトを成功に導きます。
              </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div
              class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
            >
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#bi-list-check" />
              </svg>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">ダッシュボード</h3>
              <p>
                自分に必要な情報をまとめて瞬時に閲覧することができます。これにより自らのタスクを見落としません。
              </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div
              class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
            >
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#bell-fill" />
              </svg>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">通知</h3>
              <p>
                マイルストーンの作成、変更、削除が行われると、リアルタイム通知やWEBプッシュ通知によってすぐにお知らせします。重要なプロジェクト情報を見逃さず、素早く対応しましょう。正確な情報共有で、プロジェクトの成果を最大化します。
              </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div
              class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
            >
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#bi-people-fill" />
              </svg>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">グループ管理</h3>
              <p>
                プロジェクトの規模が拡大しても安心！新しいグループ管理機能を活用すれば、ユーザーをグループに分けて管理することができます。それぞれのグループには独自の権限を設定できるため、セキュリティと効率を両立させることができます。
              </p>
            </div>
          </div>

          <div class="col d-flex align-items-start">
            <div
              class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
            >
              <svg class="bi" width="1em" height="1em" fill>
                <use xlink:href="#bi-moon-fill" />
              </svg>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">ダークモード</h3>
              <p>
                アプリケーションを暗くスタイリッシュな外観に切り替えることで、目の疲れを軽減しながらより快適な利用が可能です。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="container border-bottom" th:unless="${userHash}">
        <div class="col-xl-10 col-xxl-8 px-4 py-5 mx-auto">
          <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
              <h1 class="display-4 fw-bold lh-1 mb-3">Try This APP</h1>
              <p class="col-lg-10 fs-4">
                IDとパスワードを設定し新規登録を行うことによって利用可能になります。<br />
                ログインするとマイルストーンの追加・編集・削除等を行うことができます。
              </p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
              <form
                class="p-4 p-md-5 border rounded-3 bg-body-secondary"
                method="POST"
                th:action="@{/user/signup}"
                th:object="${SignupForm}"
                autocomplete="off"
              >
                <input th:field="*{token}" type="hidden" id="token" />
                <div class="form-floating mb-3">
                  <input
                    placeholder="username"
                    autocomplete="off"
                    th:field="*{username}"
                    class="form-control"
                    id="floatingInput"
                  />
                  <label for="floatingInput">username</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    th:field="*{password}"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Password"
                    autocomplete="off"
                  />
                  <label for="floatingPassword">password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">
                  Sign up
                </button>
                <hr class="my-4" />
                <div class="text-body-secondary text-center">
                  <a th:href="@{/login}">already have an account</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- メンバー紹介 -->
      <section class="container px-4 py-5 border-bottom">
        <h2 class="fw-bold text-center">グループメンバー</h2>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 text-center">
              <img
                th:src="@{/images/arakawa.jpg}"
                class="rounded-circle my-3"
                style="object-fit: cover; width: 120px; height: 120px"
              />

              <h2 class="mt-2">荒川 泰知</h2>
              <p>画面構成など主にフロントエンドを担当</p>
            </div>
            <div class="col-lg-4 text-center">
              <img
                th:src="@{/images/sugimori.jpg}"
                class="rounded-circle my-3"
                style="object-fit: cover; width: 120px; height: 120px"
              />

              <h2 class="mt-2">杉森 康太</h2>
              <p>WEBプッシュ通知など主にバックエンドを担当</p>
            </div>
            <div class="col-lg-4 text-center">
              <img
                th:src="@{/images/liao.png}"
                class="rounded-circle my-3"
                style="object-fit: cover; width: 120px; height: 120px"
              />

              <h2 class="mt-2">廖 嘉慧</h2>
              <p>リアルタイム通知など主にバックエンドを担当</p>
            </div>
          </div>
        </div>
      </section>

      <!-- 機能セクション -->
      <section class="container px-4 pt-5">
        <!-- <h2 class="pb-2 border-bottom">開発環境・ツール</h2> -->
        <h2 class="fw-bold text-center">開発環境・ツール</h2>
        <div class="mb-4 p-2 border rounded">
          <p class="fw-bold ps-3">開発環境</p>
          <div class="container">
            <div class="row gy-2">
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  VSCode
                </div>
              </div>
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  Live Share
                </div>
              </div>
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  Apache Maven
                </div>
              </div>
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  Git / GitHub
                </div>
              </div>
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  OpenJDK JDK 20.0.1
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-4 p-2 border rounded">
          <p class="fw-bold ps-3">プログラミング言語</p>
          <div class="container">
            <div class="row gy-2">
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  Java
                </div>
              </div>
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  HTML
                </div>
              </div>
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  CSS
                </div>
              </div>
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  JavaScript
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-4 p-2 border rounded">
          <p class="fw-bold ps-3">フロントエンドフレームワーク・ライブラリ</p>
          <div class="container">
            <div class="row gy-2">
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  Bootstrap
                </div>
              </div>
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  SockJS
                </div>
              </div>
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  Stomp.js
                </div>
              </div>
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  Firebase JavaScript SDK
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-4 p-2 border rounded">
          <p class="fw-bold ps-3">バックエンドフレームワーク・ライブラリ</p>
          <div class="container">
            <div class="row gy-2">
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  Spring Boot
                </div>
              </div>
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  Firebase Admin Java SDK
                </div>
              </div>
              <div class="col-sm-2">
                <div
                  class="rounded p-3 bg-body-secondary h-100 text-center d-flex align-items-center justify-content-center"
                >
                  H2 Database
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="container px-4 py-5 border-bottom">
        <h2 class="fw-bold text-center">開発過程で遭遇した課題とその解決策</h2>
        <div class="container mt-4">
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
              <h3 class="fs-4 text-body-emphasis">
                INSERTしたレコードの自動生成するプライマリキーを取得できない
              </h3>
              解決方法
              <p>
                <code>@Mapper</code> に
                <code
                  >@Options(useGeneratedKeys = true, keyProperty = "id")</code
                >を付けて、返り値を受け取る <br />
                戻り値は引数に格納される
              </p>
            </div>
            <div class="col">
              <h3 class="fs-4 text-body-emphasis">
                プッシュ通知が表示されない
              </h3>
              解決方法
              <p>
                プッシュ通知を検知することはできても、それを表示する必要がある<br />
                ドキュメントルートに ServiceWorker(firebase-messaging-sw.js)
                の設置を行うことで通知を検知<br />
                ServiceWorkerはバックグラウンドで動くイベント駆動のJavaScript環境なので、リロード等しなくとも通知を検知可能
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="container px-4 py-5">
        <h2 class="fw-bold text-center">チームワークと技術的な成長</h2>

        <div class="container mt-4">
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
              <h3 class="fs-4 text-body-emphasis">
                チームの協力とコミュニケーションの重要性
              </h3>
              <div>
                コミュニケーション
                <p>
                  Slackのグループスレッドでは、600件以上の返信があり日々の議論を可視化していた<br />
                  <a
                    href="https://bootcamp-open2023.slack.com/archives/C04P93WKMSA/p1686545229865359"
                    class="btn btn-primary"
                    ><i class="bi bi-slack"></i> グループスレッド</a
                  >
                </p>
              </div>
              <div>
                Live Share を用いた並行同時開発を行った
                <div>
                  メリット
                  <ul>
                    <li>同時編集</li>
                    <li>助け合いやすい</li>
                    <li>
                      gitと比べて、土台ができていない初期の状態ではコンフリクトが起きにくい
                    </li>
                  </ul>
                  デメリット
                  <ul>
                    <li>
                      オートコンプリートやファイルアップロードなど、オーナーしかできない操作がある
                    </li>
                    <li>同じところを編集すると壊れる恐れがある</li>
                    <li>
                      自分のエラーで止まっているのか他の人の作業中で止まっているのかがわからないことがあり作業が止まる
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <h3 class="fs-4 text-body-emphasis">
                技術的な成長や学びのポイントの振り返り
              </h3>
              <p>
                spring
                bootを扱うのは初めてだが、reactなどの開発経験があったため、比較的スムーズに進められた。<br />
                三層アーキテクチャを体験できた。<br />
                リポジトリ ( <code>Mapper</code> ) 、サービス、コントロール
                DBとの接続、データの処理、表示の役割ごとに分けることで、再利用性や柔軟性と拡張性の向上に繋がった。
                <br />フロントエンドとバックエンドの両方を体験できた。
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
