<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  lang="ja"
>
  <head>
    <meta charset="UTF-8" />
    <title>Regist User</title>
    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.3/firebase-app.js";
      import {
        getMessaging,
        getToken,
        onMessage,
      } from "https://www.gstatic.com/firebasejs/9.9.3/firebase-messaging.js";
      const firebaseConfig = {
        apiKey: "AIzaSyDlD6YR1vU8ELZ6KP42ok8OvZoka9XjkA0",
        authDomain: "milestone-app-842d2.firebaseapp.com",
        projectId: "milestone-app-842d2",
        storageBucket: "milestone-app-842d2.appspot.com",
        messagingSenderId: "323939545121",
        appId: "1:323939545121:web:53c46d8ae3d6bed108f360",
      };

      document.addEventListener("DOMContentLoaded", function () {
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const messaging = getMessaging(app);
        Notification.requestPermission().then((permission) => {
          if (permission === "granted") {
            console.log("Notification permission granted.");
            onMessage(messaging, (payload) => {
              console.log("Message received. ", payload);
            });
            getToken(messaging, {
              vapidKey:
                "BNoLXT8Er-kHDNZH5GyHYoTdY0_65TR4kWhYRQur2ZKBw4R1GyvmabYoCzukkziD8Z2xH4AZZJFDa91f97CgyyI",
            })
              .then((currentToken) => {
                if (currentToken) {
                  document.getElementById("token").value = currentToken;
                }
              })
              .catch((e) => console.log(e));
          } else {
            // 通知を拒否した場合
            console.log("Unable to get permission to notify.");
          }
        });
      });
    </script>
  </head>
  <body>
    <div layout:fragment="layoutContent" class="container">
      <div class="m-auto w-auto my-4" style="max-width: 300px">
        <h1 class="h3 text-center mb-4">Sign Up</h1>
        <form
          method="POST"
          th:action="@{/user/signup}"
          th:object="${SignupForm}"
        >
          <div class="form-floating mb-3">
            <input
              placeholder="username"
              th:field="*{username}"
              id="userName"
              class="form-control"
              autocomplete="off"
            />
            <label for="userName">username</label>
          </div>
          <p
            class="error-message"
            th:if="${#fields.hasErrors('username')}"
            th:errors="*{username}"
          >
            Name Error
          </p>
          <div class="form-floating">
            <input
              placeholder="password"
              th:field="*{password}"
              type="password"
              id="password"
              class="form-control"
              autocomplete="off"
            /><label for="password">password</label>
          </div>
          <p
            class="error-message"
            th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"
          >
            password Error
          </p>
          <div class="form-floating">
            <input th:field="*{token}" type="hidden" id="token" />
          </div>
          <div class="mt-3 text-center">
            <button type="submit" class="btn btn-primary btn-block w-100">
              Sign up
            </button>
          </div>
        </form>
        <div class="text-center mt-3">
          <a href="../login.html" th:href="@{/login}"
            >already have an account</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
